healthcode/src/views/Success.vue
healthcode/babel.config.js
healthcode/package-lock.json
healthcode/package.json
healthcode/README.md
healthcode/src/views/Verification.vue
healthcode/src/views/Register.vue
healthcode/src/views/Mypart.vue
healthcode/src/views/Login.vue
healthcode/src/views/Detailed.vue
healthcode/src/views/Addinf.vue
healthcode/src/store/index.js
healthcode/src/assets/zhen.png
healthcode/src/assets/yimiao.png
healthcode/src/assets/test.png
healthcode/src/assets/success.png
healthcode/src/assets/rightback.png
healthcode/src/assets/register.png
healthcode/src/assets/leftback.png
healthcode/src/assets/phone.png
healthcode/src/assets/gps.png
healthcode/src/assets/eye.png
healthcode/src/assets/dun.png
healthcode/src/assets/defend.png
healthcode/src/main.js
healthcode/public/js/utf.js
healthcode/public/js/jquery.qrcode.js
healthcode/public/js/jquery-1.11.3.js
healthcode/public/qrcode.html
healthcode/public/index.html
test--lh.txt
healthcode/src/App.vue
healthcode/src/assets/home_img/idCard.png
node_modules/